.slider-container {
    overflow: hidden;
    position: relative;
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
}


#slider {
    /*display: block;
    align-items: center;
    justify-content: space-between;
    flex-wrap: no-wrap;*/
    display: flex;
    transition: 0.3s ease all;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: translateX(0px);
    will-change: transform;
    position: relative;
    height: 260px;
    padding: 0 0 46px 0;
}

#slider .slider_item {
    width: calc(33.3333% - 20px);
    box-sizing: border-box;
    flex: none;
    height: 260px;
    position: relative;
    touch-action: pan-y;
    transition: all 0.3s ease;
    margin-right: 20px;
    box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 2px;
    overflow: hidden;
    z-index: -1;

}

#slider .slider_item h4 {
    position: absolute;
    text-shadow: 1px 1px 2px #000;
    font-size: 20px;
    top: 10px;
    left: 10px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    transition: 0.7s ease all;
}

.animate {
    transition: all .5s ease-out;
}

#slider .slider_item p {
    position: absolute;
    bottom: -200px;
    left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #e1e8f4;
    background-color: rgba(43, 32, 32, 0.5);
    padding: 15px;
    transition: all 0.3s ease;
    z-index: 1000;
}

#slider .slider_item:hover {
    transform: scale(1.09, 1.09)
}

#slider .slider_item:hover p {
    bottom: 10px;
}

#slider .slider_item:hover h4 {
    left: 40px;
}

#slider .slider_item img {
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slider-control {
    position: absolute;
    width: 26px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.2s ease;
}

.slider-control svg polyline {
    transition: 0.2s ease all;
    z-index: 100;
}

.slider-control:hover svg polyline {
    stroke: rgba(255,255,255, 1);
}

.slider-control.slider-control--left {
    left: 12px;
}

.slider-control.slider-control--right {
    right: 12px;
    transform: rotateY(180deg);
}

@media screen and (max-width: 1000px) {
    #slider .slider_item {
        max-width: 100%;
        height: 70%;
        box-sizing: border-box;
    }
    #slider .slider_item {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;

    }
    #slider .slider_item p {
        bottom: 0;
    }
    .slider-container {
        max-width: 100%;
    }
}